
<%# # example from rail.com  %>


<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Dear Interflux Singapore</p>
    <p>Someone has just submitted a request for a simulation on <a href="https://jet-fluxer.com">jet-fluxer.com</a>.</p>
    <p>Project name: <%= @project_name%></p>
    <p>Pallet width: <%= @pallet_width %><p>
    <p>Pallet height: <%= @pallet_height %><p>
    <p>Wave speed: <%= @wave_speed %><p>
    <p>Cycle time: <%= @cycle_time %><p>
    <p>Flux brand: <%= @flux_brand %><p>
    <p>Flux consumption: <%= @flux_consumption %><p>
    <p>board reference: <%= @board_reference %><p>
    <p>Known issue: <%= @known_issue %><p>
    <p>Solder process: <%= @solder_process %><p>
    <p>Flux processf: f<%= @flux_process %><p>
    <p>Full name: <%= @full_name %><p>
    <p>Email: <%= @email %><p>
    <p>Company name: <%= @company_name %><p>
  </body>
</html>