
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Dear Interflux Singapore</p>
    <p>Someone has just submitted a request for a simulation on <a href="https://jet-fluxer.com">jet-fluxer.com</a> with the following details:</p>
    <ul>
      <li>Image: <a href='https://cdn.interflux.com<%= @record.image%>'>https://cdn.interflux.com<%= @record.image%></a></li>
      <li>Project name: <%= @record.project_name%></li>
      <li>Pallet width: <%= @record.pallet_width %><li>
      <li>Pallet height: <%= @record.pallet_height %><li>
      <li>Wave speed: <%= @record.wave_speed %><li>
      <li>Cycle time: <%= @record.cycle_time %><li>
      <li>Flux brand: <%= @record.flux_brand %><li>
      <li>Flux consumption: <%= @record.flux_consumption %><li>
      <li>board reference: <%= @record.board_reference %><li>
      <li>Known issue: <%= @record.known_issue %><li>
      <li>Solder process: <%= @record.solder_process %><li>
      <li>Flux processf: f<%= @record.flux_process %><li>
      <li>Full name: <%= @record.full_name %><li>
      <li>Email: <%= @record.email %><li>
      <li>Company name: <%= @record.company_name %><li>
      <li>Sequence: <%= @record.sequence %><li>
      <li>ID: <%= @record.id %><li>
    </ul>
    <p>Please respond as soon as possible.</p>
    <p>Warm regards,</p>
    <p>Your web developer</p>
    <p>Shuwen Wang</p>
  </body>
</html>